<mat-toolbar-row>
    <button mat-button color="primary" (click)='volver()'><mat-icon>undo </mat-icon> VOLVER</button>
    <span>&nbsp;  Establecer Permisos | Seleccionar Usuario</span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">
  <app-seleccionar-usuario (seleccionado)='usuario_seleccionado($event)'></app-seleccionar-usuario>
  
  <div *ngIf='(usuario$ | async) as usuario'>
    <div>
      Nombre: {{usuario.nombre}}
      <br>
      Apellido: {{usuario.apellido}}
      <br>
      DNI: {{usuario.dni}}
      <br>
    </div>    
    <br>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]='form' (ngSubmit)='guardar_permisos()' *ngIf='permisos_filtrados$ | async'>
      <div formArrayName='permisos'>
        <div *ngFor='let h of permisos.controls; let i=index'>
          <div [formGroup]='h'>
            <input formControlName='permiso'/>
            <mat-checkbox class="example-margin" formControlName='habilitado'></mat-checkbox>
          </div>
        </div>
      </div>

      <button type='submit' mat-stroked-button color="primary" class="btnCrear">GUARDAR PERMISOS</button>
    </form>

    <!--
    <div *ngFor='let p of (permisos_filtrados$ | async)'>
        {{p.permiso}}
    </div>
    -->


  </div>

</div>




