<mat-toolbar-row>
    <button mat-button color="primary" (click)='volver()'><mat-icon>undo </mat-icon> VOLVER</button>
    <span>&nbsp;  Establecer Permisos | Seleccionar Usuario</span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">
  <app-seleccionar-usuario (seleccionado)='usuario_seleccionado($event)'></app-seleccionar-usuario>
  
  <div *ngIf='usuario$ | async as usuario'>
    <div>
      Nombre: {{usuario.nombre}}
      <br>
      Apellido: {{usuario.apellido}}
      <br>
      DNI: {{usuario.dni}}
      <br>
    </div>    
    <br>
    <mat-divider></mat-divider>
    <div *ngFor='let p of (permiso$ | async)'>
      {{p.nombre}}
      <mat-checkbox class="example-margin" [(ngModel)]="p.habilitado"></mat-checkbox>
    </div>
 
    <button mat-stroked-button color="primary" (click)='guardar_permisos()' class="btnCrear">ESTABLECER PERMISOS</button>
  </div>

  permisos procesados2
  <div *ngFor='let p of (permisos_filtrados$ | async)'>
    {{p.nombre}}
    <mat-checkbox class="example-margin" [(ngModel)]="p.habilitado"></mat-checkbox>
  </div>
  
</div>




