<mat-toolbar-row>
    <button mat-button color="primary" (click)='volver()'><mat-icon>undo </mat-icon> VOLVER</button>
    <span>&nbsp;  Establecer Permisos | Seleccionar Usuario</span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">
  <app-seleccionar-usuario (seleccionado)='usuario_seleccionado($event)'></app-seleccionar-usuario>
  
  <div *ngIf='usuario'>
    <div>
      Nombre: {{usuario.nombre}}
      <br>
      Apellido: {{usuario.apellido}}
      <br>
      DNI: {{usuario.dni}}
      <br>
      Permisos asignados al usuario:
      <br>
      <div *ngFor='let pu of (permisosUsuario$ | async)'>
        {{pu.nombre}}
        {{pu.permiso}}
      </div>
    </div>    
    <br>
    <mat-divider></mat-divider>
    <div *ngFor='let p of (permiso$ | async)'>
      {{p.nombre}}
      {{p.permiso}}
    </div>
 
    <button mat-stroked-button color="primary" (click)='guardar_permisos()' class="btnCrear">ESTABLECER PERMISOS</button>
  </div>

</div>





